*,
html {
    font-family: Arial;
}

[class*='material-'] {
    font-size: 34px;
}

.material-icons-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.material-icons-list li {
    display: flex;
    align-items: center;
}

.material-icons-list li span {
    font-size: 18px;
}

.font-version {
    font-size: 24px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    small {
        font-size: 65%;
        font-weight: normal;
        display: block;
    }
}
pre {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}
